html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #e0e0e0;
}

@mixin media-sm {
  @media screen and (max-width: 480px) {
    @content;
  }
}
