.menu {
  position: fixed;
  top: -200px;
  left: -200px;
  width: 400px;
  height: 400px;
  background-color: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;

  &__hamburger {
    position: absolute;
    right: 25%;
    bottom: 25%;
    transform: translate(-50%, -50%) scale(4);
    transition: rotate 0.7s ease;
  }
  &__close {
    position: absolute;
    left: 25%;
    bottom: 25%;
    transform: translate(50%, 50%) scale(4);
    transition: rotate 0.7s ease;
  }
  &__navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #e0e0e0;
    list-style: none;
    transform: translateX(-100%);
    transition: transform 0.5s linear;
    &--show {
      transform: translateX(0%);
    }
  }
  &__navlink {
    padding: 2rem;
    .fas {
      margin-right: 0.5rem;
    }
    &:nth-child(2) {
      padding-left: 4rem;
    }
    &:nth-child(3) {
      padding-left: 6rem;
    }
  }
  &--show {
    transform: rotate(-70deg);
  }
}

.content {
  &__image {
    width: 100%;
  }
}
