body {
  position: relative;
  transition: rotate 0.7s ease;
}
.container {
  width: 100vw;
  min-width: 600px;
  height: 100vh;
  padding: 15rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  transform-origin: top left;
  transition: transform 0.5s linear;
  &--show {
    transform: rotate(-20deg);
  }
}
